{% extends 'backend/layouts/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{ page_title|default:"Welcome to PhytOrganic" }}{% endblock %}
{% block content %}
    <section class="padding-top-50 padding-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="list-heading">
                        <h4><i class="fa fa-child"></i> {{ page_info }}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="dtree">
                    <p><a href="javascript: d.openAll();">Open all</a> | <a href="javascript: d.closeAll();">Close
                        all</a></p>

                    <script type="text/javascript">
                        d = new dTree('d');
                        {% for member in members %}
                            {% if forloop.counter == 1 %}
                                d.add("{{ member.id }}", -1, "{{ member.username }} ({{ member.created_at|date:"Y/m/d" }}) {{ member.grade }}");
                            {% else %}
                                d.add("{{ member.id }}", "{{ member.parent_id }}", "{{ member.username }} ({{ member.created_at|date:"Y/m/d" }}) {{ member.grade }}");
                            {% endif %}
                        {% endfor %}

                        document.write(d);
                    </script>
                </div>
            </div>
        </div>
    </section>
{% endblock %}