[PROJECT]
APP_NAME=${APP_NAME}
PORT=${PORT}
[SETTINGS]
DEBUG=${DEBUG}
ALLOWED_HOSTS=${ALLOWED_HOSTS}
LOCALE=${LOCALE}
LANGUAGE_CODE=${LANGUAGE_CODE}
USE_TZ=${USE_TZ}
SECRET_KEY=${SECRET_KEY}
[DB]
DATABASE_URL=mysql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
[EMAIL]
EMAIL_HOST=${EMAIL_HOST}
EMAIL_PORT=${EMAIL_PORT}
EMAIL_HOST_USER=${EMAIL_HOST_USER}
EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
EMAIL_USE_TLS=${EMAIL_USE_TLS}
EMAIL_USE_SSL=${EMAIL_USE_SSL}
EMAIL_TIMEOUT=${EMAIL_TIMEOUT}