{% extends 'frontend/layouts/index.html' %}
{% load static %}
{% block title %}{{ page_title|default:"Welcome to PhytOrganic" }}{% endblock %}
{% block content %}
    {% comment %}<!-- Services -->
    <section class="services-coporate padding-top-80 padding-bottom-80 ">
        <div class="container">
            <!-- HEADING BLOCK -->
            <div class="heading-block style-6 text-center margin-bottom-80 animate fadeInUp" data-wow-delay="0.4s">
                <h4>WELCOME TO PHYTORGANIC.NET</h4>
                <img class="margin-top-20" src="{% static 'frontend/images/divider/devider-6-1.png' %}" alt="">
                <p class="font-crimson margin-top-20">Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because
                    it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
            </div>

            <!-- Icon Row -->
            <ul class="row">

                <!-- Services -->
                <li class="col-md-4 animate fadeInUp" data-wow-delay="0.4s"><img class="img-responsive" src="{% static 'frontend/images/services/img-1.jpg' %}" alt=""> <i
                        class="fa fa-laptop margin-top-20"></i>
                    <h6>WEB DESIGN</h6>
                    <hr class="black">
                    <p>Paetos dignissim at cursus elefeind norma arcu.velim pellentesque uter justo.</p>
                </li>

                <!-- Services -->
                <li class="col-md-4 animate fadeInUp" data-wow-delay="0.6s"><img class="img-responsive" src="{% static 'frontend/images/services/img-2.jpg' %}" alt=""> <i
                        class="fa fa-tree margin-top-20"></i>
                    <h6>MOTION GRAPHIC</h6>
                    <hr class="black">
                    <p>Paetos dignissim at cursus elefeind norma arcu.velim pellentesque uter justo.</p>
                </li>

                <!-- Services -->
                <li class="col-md-4 animate fadeInUp" data-wow-delay="0.8s"><img class="img-responsive" src="{% static 'frontend/images/services/img-3.jpg' %}" alt=""> <i
                        class="fa fa-motorcycle margin-top-20"></i>
                    <h6>BRANDING DESIGN</h6>
                    <hr class="black">
                    <p>Paetos dignissim at cursus elefeind norma arcu.velim pellentesque uter justo.</p>
                </li>
            </ul>
        </div>
    </section>

    <!-- Promo Block -->
    <section class="promo-block">
        <div class="row">

            <!-- Img -->
            <div class="col-md-6 animate fadeInLeft" data-wow-delay="0.4s">
                <img class="img-responsive" src="{% static 'frontend/images/promo/coporate-img-1.jpg' %}" alt=" "></div>
            <div class="col-md-6 animate fadeInRight" data-wow-delay="0.4s">
                <div class="promo-text">

                    <!-- HEADING BLOCK -->
                    <h4 class="text-white font-normal letter-space-2 margin-bottom-20">AWESOME CREATIVE THEME</h4>
                    <p class="font-crimson font-16px line-height-24">Nor again is there anyone who loves or pursues or desires to obtain pain of
                        itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great
                        pleasure.</p>
                    <ul class="margin-top-40">
                        <li>
                            <h6>PSD TO HTML5/CSS3</h6>
                            <p>Paetos dignissim at cursus elefeind norma arcu.velim pellentesque uter justo magna gravida.</p>
                        </li>
                        <li>
                            <h6>HOSTING & DOMAIN SERVICES</h6>
                            <p>Paetos dignissim at cursus elefeind norma arcu.velim pellentesque uter justo magna gravida.</p>
                        </li>
                        <li>
                            <h6>GET PLAN YOUR BUSINESS</h6>
                            <p>Paetos dignissim at cursus elefeind norma arcu.velim pellentesque uter justo magna gravida.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Intro Coporate -->
    <section class="list-style-featured padding-top-80 padding-bottom-80">
        <div class="container">

            <!-- HEADING BLOCK -->
            <div class="heading-block style-6 text-center margin-bottom-50 animate fadeInUp" data-wow-delay="0.4s">
                <h4>AWESOME INTERFACE</h4>
                <img class="margin-top-20 margin-bottom-20" src="{% static 'frontend/images/divider/devider-6-1.png' %}" alt=""> <span>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</span>
            </div>
            <div class="row">

                <!-- LIST LEFT -->
                <div class="col-md-4">
                    <ul class="margin-top-30">
                        <li class="animate fadeInLeft" data-wow-delay="0.2s">
                            <div class="media">
                                <div class="media-left">
                                    <div class="icon"><i class="fa fa-life-ring"></i></div>
                                </div>
                                <div class="media-body">
                                    <p>SUPPORT 24/7</p>
                                    <span>We have created the new macbook psd version with scalable vector shapes. </span></div>
                            </div>
                        </li>
                        <li class="animate fadeInLeft" data-wow-delay="0.4s">
                            <div class="media">
                                <div class="media-left">
                                    <div class="icon"><i class="fa fa-star"></i></div>
                                </div>
                                <div class="media-body">
                                    <p>POWERFUL SHORTCODE</p>
                                    <span>Paetos dignissim at cursus elefeind norma arcu.velim pellentesque uter justo magna gravida. </span>
                                </div>
                            </div>
                        </li>
                        <li class="animate fadeInLeft" data-wow-delay="0.6s">
                            <div class="media">
                                <div class="media-left">
                                    <div class="icon"><i class="fa fa-umbrella"></i></div>
                                </div>
                                <div class="media-body">
                                    <p>USER FRIENDLY</p>
                                    <span>We have created the new macbook psd version with scalable vector shapes. </span></div>
                            </div>
                        </li>
                        <li class="animate fadeInLeft" data-wow-delay="0.8s">
                            <div class="media">
                                <div class="media-left">
                                    <div class="icon"><i class="fa fa-trophy"></i></div>
                                </div>
                                <div class="media-body">
                                    <p>15+ DEMOS LAYOUT</p>
                                    <span>Paetos dignissim at cursus elefeind norma arcu.velim pellentesque uter justo magna gravida. </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- LIST IMAGE -->
                <div class="col-md-4 text-center no-padding animate fadeInUp" data-wow-delay="0.2s">
                    <img class="img-responsive" src="{% static 'frontend/images/shortcode/icon-list-1.png' %}" alt=""></div>

                <!-- LIST ICON RIGHT -->
                <div class="col-md-4">
                    <ul class="margin-top-30 text-right">
                        <li class="animate fadeInRight" data-wow-delay="0.2s">
                            <div class="media">
                                <div class="media-body">
                                    <p>UNIQUE DESIGN</p>
                                    <span>We have created the new macbook psd version with scalable vector shapes. </span></div>
                                <div class="media-right">
                                    <div class="icon"><i class="fa fa-diamond"></i></div>
                                </div>
                            </div>
                        </li>
                        <li class="animate fadeInRight" data-wow-delay="0.4s">
                            <div class="media">
                                <div class="media-body">
                                    <p>145 psd includes</p>
                                    <span>Paetos dignissim at cursus elefeind norma arcu.velim pellentesque uter justo magna gravida. </span>
                                </div>
                                <div class="media-right">
                                    <div class="icon"><i class="fa fa-coffee"></i></div>
                                </div>
                            </div>
                        </li>
                        <li class="animate fadeInRight" data-wow-delay="0.6s">
                            <div class="media">
                                <div class="media-body">
                                    <p>well document</p>
                                    <span>We have created the new macbook psd version with scalable vector shapes. </span></div>
                                <div class="media-right">
                                    <div class="icon"><i class="fa fa-scissors"></i></div>
                                </div>
                            </div>
                        </li>
                        <li class="animate fadeInRight" data-wow-delay="0.8s">
                            <div class="media">
                                <div class="media-body">
                                    <p>woocommerce ready</p>
                                    <span>Paetos dignissim at cursus elefeind norma arcu.velim pellentesque uter justo magna gravida. </span>
                                </div>
                                <div class="media-right">
                                    <div class="icon"><i class="fa fa-shopping-cart"></i></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- PORTFOLIO -->
    <section class="portfolio port-wrap padding-top-80 padding-bottom-80">
        <div class="container">
            <!-- HEADING BLOCK -->
            <div class="heading-block style-6 text-center margin-bottom-50 animate fadeInUp" data-wow-delay="0.4s">
                <h4>OUR PORTFOLIO</h4>
                <img class="margin-top-20 margin-bottom-20" src="{% static 'frontend/images/divider/devider-6-1.png' %}" alt=""> <span>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</span>
            </div>
        </div>

        <!-- PORTFOLIO ITEMS -->
        <div class="items row col-4">

            <!-- ITEM -->
            <article class="portfolio-item pf-web-design animate fadeIn" data-wow-delay="0.2s">
                <div class="portfolio-image"><a href="#"> <img class="img-responsive" alt="Open Imagination" src="{% static 'frontend/images/portfolio/7/img-1.jpg' %}">
                </a>
                    <div class="portfolio-overlay style-4">
                        <div class="detail-info">
                            <div class="position-center-center">
                                <h3 class="no-margin">Assembly Branding</h3>
                                <hr class="balck">
                                <span><a href="#">Fashion / trending</a></span> <a href="#" class="go"><i class="fa fa-search"></i></a> <a
                                    href="#" class="go"><i class="fa fa-link"></i></a></div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- ITEM -->
            <article class="portfolio-item pf-photography pf-branding-design animate fadeIn" data-wow-delay="0.4s">
                <div class="portfolio-image"><a href="#"> <img class="img-responsive" alt="Open Imagination" src="{% static 'frontend/images/portfolio/7/img-2.jpg' %}">
                </a>
                    <div class="portfolio-overlay style-4">
                        <div class="detail-info">
                            <div class="position-center-center">
                                <h3 class="no-margin">Assembly Branding</h3>
                                <hr class="balck">
                                <span><a href="#">Fashion / trending</a></span> <a href="#" class="go"><i class="fa fa-search"></i></a> <a
                                    href="#" class="go"><i class="fa fa-link"></i></a></div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- ITEM -->
            <article class="portfolio-item pf-web-design pf-branding-design animate fadeIn" data-wow-delay="0.6s">
                <div class="portfolio-image"><a href="#"> <img class="img-responsive" alt="Open Imagination" src="{% static 'frontend/images/portfolio/7/img-3.jpg' %}">
                </a>
                    <div class="portfolio-overlay style-4">
                        <div class="detail-info">
                            <div class="position-center-center">
                                <h3 class="no-margin">Assembly Branding</h3>
                                <hr class="balck">
                                <span><a href="#">Fashion / trending</a></span> <a href="#" class="go"><i class="fa fa-search"></i></a> <a
                                    href="#" class="go"><i class="fa fa-link"></i></a></div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- ITEM -->
            <article class="portfolio-item pf-web-design pf-digital-art animate fadeIn" data-wow-delay="0.8s">
                <div class="portfolio-image"><a href="#"> <img class="img-responsive" alt="Open Imagination" src="{% static 'frontend/images/portfolio/7/img-4.jpg' %}">
                </a>
                    <div class="portfolio-overlay style-4">
                        <div class="detail-info">
                            <div class="position-center-center">
                                <h3 class="no-margin">Assembly Branding</h3>
                                <hr class="balck">
                                <span><a href="#">Fashion / trending</a></span> <a href="#" class="go"><i class="fa fa-search"></i></a> <a
                                    href="#" class="go"><i class="fa fa-link"></i></a></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <!-- Work Process -->
    <section class="process padding-bottom-80">
        <div class="container">
            <!-- HEADING BLOCK -->
            <div class="heading-block style-6 text-center margin-bottom-50 animate fadeInUp" data-wow-delay="0.4s">
                <h4>WORK PROCESS</h4>
                <img class="margin-top-20 margin-bottom-20" src="{% static 'frontend/images/divider/devider-6-1.png' %}" alt=""> <span>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</span>
            </div>

            <!-- Process -->
            <div class="process-style-3 margin-top-30 margin-bottom-60">
                <ul>

                    <!-- 1 -->
                    <li class="animate fadeInLeft" data-wow-delay="0.4s">
                        <div class="media">
                            <div class="media-left media-middle">
                                <div class="icon"><i class="fa fa-anchor"></i></div>
                            </div>
                            <div class="media-body">
                                <h3>01</h3>
                                <p>GET PLAN</p>
                            </div>
                        </div>
                    </li>

                    <!-- 2 -->
                    <li class="animate fadeInLeft" data-wow-delay="0.8s">
                        <div class="media">
                            <div class="media-left media-middle">
                                <div class="icon"><i class="fa fa-codepen"></i></div>
                            </div>
                            <div class="media-body">
                                <h3>02</h3>
                                <p>DEVELOPMENT</p>
                            </div>
                        </div>
                    </li>

                    <!-- 3 -->
                    <li class="animate fadeInRight" data-wow-delay="0.4s">
                        <div class="media">
                            <div class="media-left media-middle">
                                <div class="icon"><i class="fa fa-search"></i></div>
                            </div>
                            <div class="media-body">
                                <h3>03</h3>
                                <p>TESTING</p>
                            </div>
                        </div>
                    </li>

                    <!-- 4 -->
                    <li class="animate fadeInRight" data-wow-delay="0.8s">
                        <div class="media">
                            <div class="media-left media-middle">
                                <div class="icon"><i class="fa fa-paper-plane"></i></div>
                            </div>
                            <div class="media-body">
                                <h3>04</h3>
                                <p>LAUNCHING</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Accoding Style 2 -->
    <section class="accordion gray-bg padding-top-80">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="font-normal text-uppercase letter-space-3 margin-top-0 margin-bottom-40">The Best of Both Worlds</h4>
                    <div class="panel-group accordion-style-2 " id="accordion-1">

                        <!-- Accoding 1 -->
                        <div class="panel panel-default animate fadeInUp" data-wow-delay="0.2s">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-2-1"> Lorem Ipsum is
                                    simply dummy text of the printing and typesetting</a></h4>
                            </div>
                            <div id="collapse-2-1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4"><img class="img-responsive" src="{% static 'frontend/images/portfolio/2/portfolio-1.png' %}" alt=""></div>
                                        <div class="col-md-8"> It is a long established fact that a reader will be distracted by the readable
                                            content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                                            more-or-less normal. <br>
                                            <br>
                                            Distribution of letters, as opposed to using 'Content here, content here',
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Accoding 2 -->
                        <div class="panel panel-default animate fadeInUp" data-wow-delay="0.4s">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-2-2"
                                                           class="collapsed"> Some Of The Most Motivational Vines</a></h4>
                            </div>
                            <div id="collapse-2-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-8"> It is a long established fact that a reader will be distracted by the readable
                                            content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                                            more-or-less normal. <br>
                                            <br>
                                            Distribution of letters, as opposed to using 'Content here, content here',
                                        </div>
                                        <div class="col-md-4"><img class="img-responsive" src="{% static 'frontend/images/portfolio/2/portfolio-1.png' %}" alt=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Accoding 3 -->
                        <div class="panel panel-default animate fadeInUp" data-wow-delay="0.6s">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-2-3"
                                                           class="collapsed"> Lorem Ipsum is simply dummy text of the printing and typesetting</a>
                                </h4>
                            </div>
                            <div id="collapse-2-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4"><img class="img-responsive" src="{% static 'frontend/images/portfolio/2/portfolio-1.png' %}" alt=""></div>
                                        <div class="col-md-8"> It is a long established fact that a reader will be distracted by the readable
                                            content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                                            more-or-less normal. <br>
                                            <br>
                                            Distribution of letters, as opposed to using 'Content here, content here',
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Accoding 4 -->
                        <div class="panel panel-default animate fadeInUp" data-wow-delay="0.8s">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-2-4"
                                                           class="collapsed"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem </a>
                                </h4>
                            </div>
                            <div id="collapse-2-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4"><img class="img-responsive" src="{% static 'frontend/images/portfolio/2/portfolio-1.png' %}" alt=""></div>
                                        <div class="col-md-8"> It is a long established fact that a reader will be distracted by the readable
                                            content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                                            more-or-less normal. <br>
                                            <br>
                                            Distribution of letters, as opposed to using 'Content here, content here',
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Image -->
                <div class="col-md-6"><img class="img-responsive" src="{% static 'frontend/images/intro/intro-coporate.jpg' %}" alt=" "></div>
            </div>
        </div>
    </section>

    <!-- TEAM MEMBER -->
    <section class="team style-6 padding-bottom-80 padding-top-80">
        <div class="container">
            <!-- MAIN HEADING -->
            <div class="heading-block style-6 text-center margin-bottom-80 animate fadeInUp" data-wow-delay="0.4s">
                <h4>MEET OUR TEAM</h4>
                <img class="margin-top-20 margin-bottom-20" src="{% static 'frontend/images/divider/devider-6-1.png' %}" alt=""> <span>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</span>
            </div>
            <ul class="row">

                <!-- Team Member -->
                <li class="col-md-3 animate fadeInUp" data-wow-delay="0.2s">
                    <div class="team-image"><img class="img-responsive" src="{% static 'frontend/images/our-teams/team-6-1.jpg' %}" alt="">

                        <!-- Team Hover -->
                        <ul class="social-icons text-center">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                        <div class="member-detail">
                            <h6>DAVID SMITH</h6>
                            <span class="font-crimson font-italic">CEO/Founder</span></div>
                    </div>
                </li>

                <!-- Team Member -->
                <li class="col-md-3 animate fadeInUp" data-wow-delay="0.4s">
                    <div class="team-image"><img class="img-responsive" src="{% static 'frontend/images/our-teams/team-6-2.jpg' %}" alt="">

                        <!-- Team Hover -->
                        <ul class="social-icons text-center">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                        <div class="member-detail">
                            <h6>DAVID SMITH</h6>
                            <span class="font-crimson font-italic">CEO/Founder</span></div>
                    </div>
                </li>

                <!-- Team Member -->
                <li class="col-md-3 animate fadeInUp" data-wow-delay="0.6s">
                    <div class="team-image"><img class="img-responsive" src="{% static 'frontend/images/our-teams/team-6-3.jpg' %}" alt="">

                        <!-- Team Hover -->
                        <ul class="social-icons text-center">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                        <div class="member-detail">
                            <h6>DAVID SMITH</h6>
                            <span class="font-crimson font-italic">CEO/Founder</span></div>
                    </div>
                </li>

                <!-- Team Member -->
                <li class="col-md-3 animate fadeInUp" data-wow-delay="0.8s">
                    <div class="team-image"><img class="img-responsive" src="{% static 'frontend/images/our-teams/team-6-4.jpg' %}" alt="">

                        <!-- Team Hover -->
                        <ul class="social-icons text-center">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                        <div class="member-detail">
                            <h6>DAVID SMITH</h6>
                            <span class="font-crimson font-italic">CEO/Founder</span></div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- CLIENT SAYS Block -->
    <section class="testimonial style-7 bg-parallax padding-bottom-80 padding-top-80">
        <div class="container">
            <!-- MAIN HEADING -->
            <div class="heading-block style-6 text-center margin-bottom-80 animate fadeInUp" data-wow-delay="0.4s">
                <h4>WHAT THEY SAID ?</h4>
                <img class="margin-top-20 margin-bottom-20" src="{% static 'frontend/images/divider/devider-6-1.png' %}" alt=""> <span>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</span>
            </div>
            <ul class="row">

                <!-- Testi -->
                <li class="col-md-6 margin-bottom-30 animate fadeInUp" data-wow-delay="0.4s">
                    <div class="testi-in">
                        <!-- Avatar -->
                        <div class="avatar"><img class="img-responsive" src="{% static 'frontend/images/testimonials/testimonial-6a.png' %}" alt=""></div>
                        <div class="text-in">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
                                form, by injected humour, or randomised words which don't look even slightly believable. </p>
                            <h6>Paul Walker</h6>
                            <span>CEO/Founder Apple Inc</span></div>
                    </div>
                </li>

                <!-- Testi -->
                <li class="col-md-6 margin-bottom-30 animate fadeInUp" data-wow-delay="0.8s">
                    <div class="testi-in">
                        <!-- Avatar -->
                        <div class="avatar"><img class="img-responsive" src="{% static 'frontend/images/testimonials/testimonial-6b.png' %}" alt=""></div>
                        <div class="text-in">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
                                form, by injected humour, or randomised words which don't look even slightly believable. </p>
                            <h6>JENNIFER WHITE</h6>
                            <span>CEO/Founder Apple Inc</span></div>
                    </div>
                </li>

                <!-- Testi -->
                <li class="col-md-6 margin-bottom-30 animate fadeInUp" data-wow-delay="0.8s">
                    <div class="testi-in">
                        <!-- Avatar -->
                        <div class="avatar"><img class="img-responsive" src="{% static 'frontend/images/testimonials/testimonial-6c.png' %}" alt=""></div>
                        <div class="text-in">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
                                form, by injected humour, or randomised words which don't look even slightly believable. </p>
                            <h6>RENNA SCOT</h6>
                            <span>CEO/Founder Apple Inc</span></div>
                    </div>
                </li>

                <!-- Testi -->
                <li class="col-md-6 margin-bottom-30 animate fadeInUp" data-wow-delay="0.8s">
                    <div class="testi-in">
                        <!-- Avatar -->
                        <div class="avatar"><img class="img-responsive" src="{% static 'frontend/images/testimonials/testimonial-6d.png' %}" alt=""></div>
                        <div class="text-in">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
                                form, by injected humour, or randomised words which don't look even slightly believable. </p>
                            <h6>DAVID MARTIN</h6>
                            <span>CEO/Founder Apple Inc</span></div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- Parallax -->
    <section class="bg-parallax padding-top-100 padding-bottom-100" style="background:url(static/frontend/images/bg/bg-parallax-3.jpg) fixed no-repeat;">
        <div class="heading-border text-center margin-top-50 margin-bottom-50 animate fadeInUp" data-wow-delay="0.4s">
            <h3 class="text-uppercase white-text font-bold padding-left-40 padding-right-40 padding-top-20 padding-bottom-20 letter-space-1">
                AWESOME CREATIVE THEME</h3>
        </div>
    </section>

    <!-- Latest News -->
    <section class="blog padding-top-80 padding-bottom-100">
        <!-- TITTLE -->
        <div class="container">
            <!-- MAIN HEADING -->
            <div class="heading-block style-6 text-center margin-bottom-80 animate fadeInUp" data-wow-delay="0.4s">
                <h4>LATEST NEWS</h4>
                <img class="margin-top-20 margin-bottom-20" src="{% static 'frontend/images/divider/devider-6-1.png' %}" alt=""> <span>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</span>
            </div>

            <!-- BLOG ROW -->
            <div class="row">

                <!-- BLOG POST -->
                <div class="col-md-4 animate fadeInUp" data-wow-delay="0.3s">
                    <article class="blog-post">
                        <div class="post-img"><img src="{% static 'frontend/images/news/1/img-1.jpg' %}" alt=""></div>

                        <!-- BLOG DETAIL -->
                        <a href="#" class="tittle-post margin-bottom-15 margin-top-20"> Hello Itaewon Project</a>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the
                            charms of....</p>
                        <a href="#" class="btn gray-border margin-top-20 text-normal">READMORE</a></article>
                </div>

                <!-- BLOG POST -->
                <div class="col-md-4 animate fadeInUp" data-wow-delay="0.6s">
                    <article class="blog-post">
                        <div class="post-img"><img src="{% static 'frontend/images/news/1/img-2.jpg' %}" alt=""></div>

                        <!-- BLOG DETAIL -->
                        <a href="#" class="tittle-post margin-bottom-15 margin-top-20"> Leeds Juicery </a>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the
                            charms of....</p>
                        <a href="#" class="btn gray-border margin-top-20 text-normal">READMORE</a></article>
                </div>

                <!-- BLOG POST -->
                <div class="col-md-4 animate fadeInUp" data-wow-delay="0.9s">
                    <article class="blog-post">
                        <div class="post-img"><img src="{% static 'frontend/images/news/1/img-3.jpg' %}" alt=""></div>

                        <!-- BLOG DETAIL -->
                        <a href="#" class="tittle-post margin-bottom-15 margin-top-20"> Brooklyn </a>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the
                            charms of....</p>
                        <a href="#" class="btn gray-border margin-top-20 text-normal">READMORE</a></article>
                </div>
            </div>
        </div>
    </section>

    <!-- PRICING -->
    <section class="pricing style-3 padding-bottom-80">
        <div class="container">

            <!-- MAIN HEADING -->
            <div class="heading-block style-6 text-center margin-bottom-80 animate fadeInUp" data-wow-delay="0.4s">
                <h4>OUR PRICING</h4>
                <img class="margin-top-20 margin-bottom-20" src="{% static 'frontend/images/divider/devider-6-1.png' %}" alt=""> <span>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</span>
            </div>

            <!-- Pricing Table Row -->
            <div class="row">
                <!-- Basic Plan -->
                <div class="col-md-3 margin-bottom-30 animate fadeInUp" data-wow-delay="0.2s">
                    <ul class="pricing-table style-3">
                        <li class="price"><img class="bg-img" src="{% static 'frontend/images/pricing-tables/pricing-table-bg-1.png' %}" alt="">
                            <h5>Basic</h5>
                            <br>
                            <span class="currency">$</span>185<span class="period">monthy</span></li>
                        <li class="bullet-item">15 Email Account</li>
                        <li class="bullet-item">100Gb Space <i class="fa fa-check text-color-primary"></i></li>
                        <li class="bullet-item">1 Domain Name</li>
                        <li class="bullet-item">500Gb Bandwidth <i class="fa fa-check text-color-primary"></i></li>
                        <li class="bullet-item">25 MySQL Databases</li>
                        <li class="bullet-item">Enhanced Sercurity</li>
                        <li class="cta-button"><a class="btn dark" href="#">GET PLAN NOW</a></li>
                    </ul>
                </div>

                <!-- BUSINESS Plan -->
                <div class="col-md-3 margin-bottom-30 animate fadeInUp" data-wow-delay="0.4s">
                    <ul class="pricing-table style-3">
                        <li class="price"><img class="bg-img" src="{% static 'frontend/images/pricing-tables/pricing-table-bg-2.png' %}" alt="">
                            <h5>BUSINESS</h5>
                            <br>
                            <span class="currency">$</span>185<span class="period">monthy</span></li>
                        <li class="bullet-item">15 Email Account</li>
                        <li class="bullet-item">100Gb Space <i class="fa fa-check text-color-primary"></i></li>
                        <li class="bullet-item">1 Domain Name</li>
                        <li class="bullet-item">500Gb Bandwidth <i class="fa fa-check text-color-primary"></i></li>
                        <li class="bullet-item">25 MySQL Databases</li>
                        <li class="bullet-item">Enhanced Sercurity</li>
                        <li class="cta-button"><a class="btn dark" href="#">GET PLAN NOW</a></li>
                    </ul>
                </div>

                <!-- PREMIUM Plan -->
                <div class="col-md-3 margin-bottom-30 animate fadeInUp" data-wow-delay="0.6s">
                    <ul class="pricing-table style-3">
                        <li class="price"><img class="bg-img" src="{% static 'frontend/images/pricing-tables/pricing-table-bg-3.png' %}" alt="">
                            <h5>PREMIUM</h5>
                            <br>
                            <span class="currency">$</span>185<span class="period">monthy</span></li>
                        <li class="bullet-item">15 Email Account</li>
                        <li class="bullet-item">100Gb Space <i class="fa fa-check text-color-primary"></i></li>
                        <li class="bullet-item">1 Domain Name</li>
                        <li class="bullet-item">500Gb Bandwidth <i class="fa fa-check text-color-primary"></i></li>
                        <li class="bullet-item">25 MySQL Databases</li>
                        <li class="bullet-item">Enhanced Sercurity</li>
                        <li class="cta-button"><a class="btn dark" href="#">GET PLAN NOW</a></li>
                    </ul>
                </div>

                <!-- ULTIMATE Plan -->
                <div class="col-md-3 margin-bottom-30 animate fadeInUp" data-wow-delay="0.8s">
                    <ul class="pricing-table style-3">
                        <li class="price"><img class="bg-img" src="{% static 'frontend/images/pricing-tables/pricing-table-bg-4.png' %}" alt="">
                            <h5>ULTIMATE</h5>
                            <br>
                            <span class="currency">$</span>185<span class="period">monthy</span></li>
                        <li class="bullet-item">15 Email Account</li>
                        <li class="bullet-item">100Gb Space <i class="fa fa-check text-color-primary"></i></li>
                        <li class="bullet-item">1 Domain Name</li>
                        <li class="bullet-item">500Gb Bandwidth <i class="fa fa-check text-color-primary"></i></li>
                        <li class="bullet-item">25 MySQL Databases</li>
                        <li class="bullet-item">Enhanced Sercurity</li>
                        <li class="cta-button"><a class="btn dark" href="#">GET PLAN NOW</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- My Clients  -->
    <section class="clients padding-bottom-80">
        <div class="container">

            <!-- Main Heading -->
            <div class="heading-block style-6 text-center margin-bottom-80 animate fadeInUp" data-wow-delay="0.4s">
                <h4>OUR CLIENTS</h4>
                <img class="margin-top-20 margin-bottom-20" src="{% static 'frontend/images/divider/devider-6-1.png' %}" alt=""> <span>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</span>
            </div>
            <div class="clients-slider text-center animate fadeInUp" data-wow-delay="0.4s">
                <div class="item"><img class="img-responsive" src="{% static 'frontend/images/partners/partner-8.png' %}" alt=""></div>
                <div class="item"><img class="img-responsive" src="{% static 'frontend/images/partners/partner-9.png' %}" alt=""></div>
                <div class="item"><img class="img-responsive" src="{% static 'frontend/images/partners/partner-10.png' %}" alt=""></div>
                <div class="item"><img class="img-responsive" src="{% static 'frontend/images/partners/partner-11.png' %}" alt=""></div>
                <div class="item"><img class="img-responsive" src="{% static 'frontend/images/partners/partner-12.png' %}" alt=""></div>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section class="contact-parallax  bg-parallax padding-top-100 padding-bottom-100"
             style="background:url(static/frontend/images/bg/contact-bg-1.jpg) fixed no-repeat;">

        <!-- Social Icons Large-->
        <div class="container">
            <ul class="row social-icons-large">
                <li class="col-sm-3 animate fadeInUp" data-wow-delay="0.2s"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="col-sm-3 animate fadeInUp" data-wow-delay="0.4s"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="col-sm-3 animate fadeInUp" data-wow-delay="0.6s"><a href="#"><i class="fa fa-google"></i></a></li>
                <li class="col-sm-3 animate fadeInUp" data-wow-delay="0.8s"><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
        </div>

        <!-- Contact  -->
        <div class="contact style-3 light-border padding-top-40 padding-bottom-80">
            <div class="container">

                <!-- Form  -->
                <div class="contact-right padding-top-30 padding-left-30 animate fadeInUp" data-wow-delay="0.4s">
                    <!-- Success Msg -->
                    <div id="contact_message" class="success-msg"><i class="fa fa-paper-plane-o"></i>Thank You. Your Message has been Submitted
                    </div>

                    <!-- FORM -->
                    <form role="form" id="contact_form" class="contact-form" method="post" onSubmit="return false">
                        <ul class="row">
                            <li class="col-sm-4">
                                <label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="NAME">
                                </label>
                            </li>
                            <li class="col-sm-4">
                                <label>
                                    <input type="text" class="form-control" name="email" id="email" placeholder="EMAIL">
                                </label>
                            </li>
                            <li class="col-sm-4">
                                <label>
                                    <input type="text" class="form-control" name="company" id="company" placeholder="SUBJECT">
                                </label>
                            </li>
                            <li class="col-sm-12">
                                <label>
                                    <textarea class="form-control" name="message" id="message" rows="5" placeholder="CONTENT..."></textarea>
                                </label>
                            </li>
                            <li class="col-sm-12">
                                <button type="submit" class="btn btn-med btn-color text-white " value="submit" id="btn_submit"
                                        onClick="proceed();">SEND ME
                                </button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </section>{% endcomment %}
{% endblock %}