{% extends 'backend/layouts/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{ page_title|default:"Welcome to PhytOrganic" }}{% endblock %}
{% block content %}
    <section class="padding-top-50 padding-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="list-heading">
                        <h4><i class="fa fa-lock"></i> {{ page_info }}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-8">
                        <form action="{% url 'backend:change-password' %}" method="post" class="form-horizontal">
                            {% csrf_token %}
                            <div class="container-fluid">
                                {% crispy form %}
                                <button type="submit" class="btn btn-small">Save changes</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}