{% extends 'backend/layouts/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{ page_title|default:"Welcome to PhytOrganic" }}{% endblock %}
{% block content %}
    <section class="padding-top-50 padding-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="list-heading">
                        <h4><i class="fa fa-lock"></i> {{ page_info }}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <form action="{% url 'backend:change-security-password' %}" method="post" class="form-horizontal">
                        {% csrf_token %}
                        <div class="container-fluid">
                            {% comment %}<div id="div_id_old_password" class="form-group">
                                <label for="id_password" class="control-label requiredField">Old password <span class="asteriskField">*</span></label>
                                <div class="controls">
                                    <input type="password" name="password" autofocus class="form-control" required id="id_password">
                                </div>
                            </div>{% endcomment %}
                            <div id="div_id_new_password1" class="form-group">
                                <label for="id_new_password" class="control-label requiredField">New password <span
                                        class="asteriskField">*</span></label>
                                <div class="controls">
                                    <input type="password" name="new_password" class="form-control" required
                                           id="id_new_password">
                                </div>
                            </div>
                            <div id="div_id_new_password2" class="form-group">
                                <label for="id_cf_password" class="control-label requiredField">New password
                                    confirmation <span class="asteriskField">*</span></label>
                                <div class="controls">
                                    <input type="password" name="cf_password" class="form-control" required
                                           id="id_cf_password">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-small">Save changes</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </section>
{% endblock %}