<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activated Email</title>
</head>
<body>
Hello <strong>{{ username }}</strong>, <br><br>

Your account have been successfully activated, <br><br>
Your username is <strong>{{ username }}</strong> and password : <strong>{{ password }}</strong>.

If you need help at any time, please contact us by replying this message to <a href="mailto:info@phytorganic.net">info@phytorganic.net</a>. <br>
For questions please do not hesitate to send us a message or email. <br><br>

Regards.
</body>
</html>