<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registered Email</title>
</head>
<body>
Welcome to <strong>Phytorganic</strong>,

You have been successfully registered,
Your username is <strong>{{ username }}</strong> and password : <strong>{{ password }}</strong>.
Please immediate change your login password and and create your e-wallet password.

If you need help at any time, please contact us by replying this message to <a href="mailto:info@phytorganic.net">info@phytorganic.net</a>.
For questions please
do not hesitate to send us a message or email.

Regards.
</body>
</html>