{% load static %}
<footer id="footer">
    <div class="footer-wrapper">

        <!-- Footer Top -->
        <div class="footer-top">
            <div class="footer-top-wrapper">
                <div class="container">
                    <div class="row">
                        <!-- About Block -->
                        <div class="col-md-3">
                            <div class="block block-about">
                                <h3 class="block-title no-underline"><span class="text-primary">About Us</span></h3>
                                <div class="block-content">
                                    <ul>
                                        <li><a href="#">Our Mission</a></li>
                                        <li><a href="#">In the News</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                                <img class="footer-logo" src="{% static 'frontend/images/logo/logo.png' %}" width="100" alt=""/>
                            </div>
                        </div>
                        <!-- End About Block -->

                        <!-- Footer Links Block -->
                        <div class="col-md-3">
                            <div class="block block-links">
                                <h3 class="block-title"><span>Get Started</span></h3>
                                <div class="block-content">
                                    <ul>
                                        <li><a href="#">MLM</a></li>
                                        <li><a href="#">Training</a></li>
                                        <li><a href="#">Buying Products</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer Links Block -->

                        <!-- Footer Links Block -->
                        <div class="col-md-3">
                            <div class="block block-links">
                                <h3 class="block-title"><span>Security</span></h3>
                                <div class="block-content">
                                    <ul>
                                        <li><a href="#">Safe & Security</a></li>
                                        <li><a href="#">Security & Legal</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer Links Block -->

                        <!-- Footer Links Block -->
                        <div class="col-md-3">
                            <div class="block block-links">
                                <h3 class="block-title"><span>Follow Us</span></h3>
                                <div class="block-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                                        <li><a href="#"><i class="fa fa-youtube"></i> YouTube</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer Links Block -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Top -->

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="footer-bottom-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 copyright">
                            <p>&copy; 2019 PHYTORGANIC.NET</p>
                        </div>
                        <div class="col-md-6 social-links">
                            <span class="right">
                                <a href="#">DESIGNED BY YOUP LAB.</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </div>
</footer>