{% load static %}
<section class="home-slider">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'frontend/images/sliders/1/slide-1.jpg' %}" alt="slider"
                         data-bgposition="center top" data-bgfit="cover"
                         data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption biglargetext sfr tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-90"
                         data-speed="500"
                         data-start="1000"
                         data-easing="Power3.easeInOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.06"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">We Deliver
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption verybiglargetext sfr tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="40"
                         data-speed="500"
                         data-start="1500"
                         data-easing="Power3.easeInOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.07"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">Excellence
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption font-crimson font-italic sfb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="140"
                         data-speed="500"
                         data-start="1900"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 7; font-size:18px; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;">
                        We are Creative
                        Stuido from Lon Don - UK
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption lfb tp-scrollbelowslider"
                         data-x="center" data-hoffset="0"
                         data-y="bottom" data-voffset="-50"
                         data-speed="500"
                         data-start="2400"
                         data-easing="Power3.easeInOut"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-scrolloffset="0"
                         style="z-index: 8;"><img src="{% static 'frontend/images/sliders/6/enter.png' %}" alt=""></div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'frontend/images/sliders/1/slide-2.jpg' %}" alt="home_slider2"
                         data-bgposition="center top" data-bgfit="cover"
                         data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption sfb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-170"
                         data-speed="600"
                         data-start="1000"
                         data-easing="Power3.easeInOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.07"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 5; font-size:40px; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;">
                        ZAP MULTI-CONCEPT
                        THEME
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption font-crimson font-italic sfb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-100"
                         data-speed="600"
                         data-start="2500"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 6; font-size:24px; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;">
                        Create your
                        custom color scheme with only a few clicks!
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption sfb"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="150"
                         data-speed="500"
                         data-start="3300"
                         data-easing="Power3.easeInOut"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 8;"><img src="{% static 'frontend/images/sliders/1/IMAC2.png' %}" alt=""></div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption skewfromleft tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="bottom" data-voffset="20"
                         data-speed="400"
                         data-start="4100"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;"><a href="#."
                                                                                                         class="btn btn-med btn-color">PURCHASES</a>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'frontend/images/sliders/1/slide-3.jpg' %}" alt="home_slider3"
                         data-bgposition="center top" data-bgfit="cover"
                         data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption font-bold skewfromright tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-60"
                         data-speed="300"
                         data-start="1000"
                         data-easing="Power3.easeInOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 5; font-size:60px; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;">
                        ZAP CREATIVE
                        AGENCY
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption font-crimson font-italic sfb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="10"
                         data-speed="500"
                         data-start="2100"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 6; font-size:30px; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;">
                        10 + Unique Demo
                        layouts
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption skewfromleft tp-resizeme"
                         data-x="center" data-hoffset="-120"
                         data-y="center" data-voffset="100"
                         data-speed="500"
                         data-start="2500"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;"><a href="#."
                                                                                                        class="btn btn-med btn-color">PURCHASES</a>
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption skewfromright tp-resizeme"
                         data-x="center" data-hoffset="120"
                         data-y="center" data-voffset="100"
                         data-speed="500"
                         data-start="2800"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><a href="#"
                                                                                                        class="btn btn-med btn-color">SEE
                        OUR WORK</a></div>
                </li>
            </ul>
        </div>
    </div>
</section>